<!DOCTYPE html>
<html lang="no">
<head>
    <title>Frode Rystad</title>
    <module href="/components/head.html"></module>
    <meta name="description" content="Frode Rystad sin hjemmeside.">
    <meta name="keywords" content="Frode Rystad">
</head>

<body>
<div class="center">
    <header>
        <h1>Frode Rystad</h1>
    </header>

    <article>
        <p>
            Dette var en gang mitt lille gjemmested på nettet.
            Nå har jeg flyttet min online tilstedeværelse til steder som
            <a href="https://no.linkedin.com/in/froderystad">LinkedIn</a>,
            <a href="https://www.facebook.com/frode.rystad">Facebook</a>,
            <a href="https://twitter.com/froderystad">Twitter</a>
            og <a rel="me" href="https://oslo.town/@froderystad">Mastodon</a>.
            Hvis du ønsker, så finner du meg der.
        </p>
        <p>
            Du kan kontakte meg på e-post <a href="mailto:frode@rystad.no">frode@rystad.no</a>
            eller mobiltelefon <a href="tel:+4799512137">+47 99 51 21 37</a>.
        </p>
    </article>
</div>

<script src="bundle.js" defer async></script>
</body>
</html>