<!DOCTYPE html>
<html lang="no">
<head>
    <title>rystad.no</title>
    <module href="/components/head.html"></module>
</head>

<body>
<div class="center">
    <header>
        <h1>rystad.no</h1>
    </header>

    <article>
        <p>
            Dette er hjemmesiden for rystad.no.
            Vi som står bak har våre personlige hjemmesider på andre servere.
            Du finner adressene under.
        </p>

            <ul>
                <li><a href="http://rystad.no/rune/">Rune Rystad</a></li>
                <li><a href="frode.html">Frode Rystad</a></li>
            </ul>
    </article>
</div>

<script src="bundle.js" defer async></script>
</body>
</html>
