$defaultFont: #444;
$subtleBg: #f5f5f5;
$hover: #74d1f6;
$not-visited: navy;
$visited: darkmagenta;

$dark-subtleBg: #2b2d30;
$dark-defaultFont: #bcbec4;
$dark-not-visited: dodgerblue;
$dark-visited: darkcyan
