*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'arial narrow', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: medium;
    background-color: $subtleBg;
    color: $defaultFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: 0.1s linear;
    color: $not-visited;
    text-decoration: none;

    &:visited {
        color: $visited;
    }
    &:hover {
        color: $hover;
    }
}

p {
    margin: 1.0rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1 {
    font-family: 'verdana', 'sans-serif';
    margin-bottom: 2rem;
    max-width: 100%;
    line-height: 1.1em;
}

ul {
    padding-left: 25px;
    display: inline-block;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    margin-top: 0.5rem;
}

footer {
    margin-top: 0.75rem;
    border-top: thin solid $defaultFont;
    text-align: center;
    font-size: smaller;
    p {
        margin: 0.5rem;
    }
}
